annotated-types
attrs
beautifulsoup4
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
exceptiongroup
fake-useragent
feedparser
h11
idna
Jinja2
langcodes
MarkupSafe
numpy
packaging
preshed
pycparser
pydantic
Pygments
python-dotenv
python-wordpress-xmlrpc
requests
rich
schedule
soupsieve
spacy
srsly
thinc
tqdm
typer
typing_extensions
urllib3
wasabi
webdriver-manager
websocket-client
