annotated-types
attrs
beautifulsoup4
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
exceptiongroup
fake-useragent
feedparser
h11
idna
Jinja2
langcodes
MarkupSafe
numpy
packaging
preshed
pycparser
pydantic
Pygments
python-dotenv
python-wordpress-xmlrpc
requests
rich
schedule
soupsieve
srsly
thinc
tqdm
typer
typing_extensions
urllib3
wasabi
webdriver-manager
websocket-client
sentencepiece 
google-cloud-translate
lxml
fastapi
uvicorn
supabase